<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/all_movies.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>All Movies</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %}All Movies{% endblock %}
{% block body %}
  <h1>All Movies</h1>

  <ul>
    {% for movie in movies %}
      <li>
        <a href="/movies/{{ movie.movie_id }}">
          {{ movie.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
</body>
</html>